.cpf-page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cpf-container {
  padding: 1.25rem;
  background-color: #f2eae1;
  border-radius: 0.5rem;
}

.cpf-field {
  width: 90%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 0.375rem;
  font-size: 1rem;
}

.cpf-error {
  margin-bottom: 1rem;
  color: red;
}

button {
  padding: 0.5rem;
  background-color: #feaf00;
  outline: none;
  border: 0;
  border-radius: 0.2rem;
  cursor: pointer;
}
